<ion-view hide-nav-bar="true" > <!-- class="no-header"-->
	<ion-content ng-style="myStyle">

		<div class="cardtop">
				<div class="sponsor">
					{{ current.sender.gender == 'sponsor' && 'sponsor' || 'au profit d\'association' }}
				</div>
				<img ng-if="current.sender.icon" src="{{current.sender.icon}}" class="sponsor-img" >
		</div>

		<!-- toggle the $scope.isSad var to toggle the emage -->
		<div class="panda"><img src="{{!isSad && 'img/panda_joyeux.png' || 'img/panda_triste.png'  }}" width="170"/></div>

    <td-cards class="challenge-cards">
      <td-card ng-repeat="challenge in challenges"  class="list card"
				on-destroy="cardDestroyed($index)"
				on-transition-right="transitionRight($index)"
				on-transition-left="transitionLeft($index)"
				on-drag-left="disableVerticalScrolling()"
				on-drag-right="disableVerticalScrolling()">

			  <div class="item item-body">
					<div class="row">
				    <img class="challenge-image icon-{{::challenge.challenge.icon}}" ng-src="img/challenge/{{::challenge.challenge.icon}}.svg" height="206">
						<span class="plus">+</span>
						<img class="challenge-image icon-{{::challenge.pledge.icon}}" ng-src="img/challenge/{{::challenge.pledge.icon}}.svg" height="206">
				  </div>
					<h3>{{::challenge.title}}</h3>
			    <p>
						{{::challenge.description}}
			    </p>

					<button class="button button-full button-balanced" ng-click="showImage()">
					 Challenge Accepted !
					</button>

					<button class="button button-full button-assertive" ng-click="cardDestroyed($index)">
					 Challenge Declined
					</button>
			  </div>
      </td-card>
    </td-cards>
		<div class="list card behind-card">
			<button class="button button-full button-positive" ng-click="relaunchCards()">
			 Show challenges again
			</button>
			<button class="button button-full button-positive" ui-sref="make-gift">
			 You prefer make a gift ?
			</button>
		</div>

		<script id="image-modal.html" type="text/ng-template">
              <div class="modal image-modal transparent" ng-click="closeModal()">
                  <ion-pane class="transparent">
                     <img ng-src="{{imageSrc}}" class="fullscreen-image"/>
                  </ion-pane>
              </div>
          </script>

  </ion-content>
</ion-view>
