<ion-view hide-nav-bar="true" class="no-header">
  <ion-content class="last-challenges" scroll="false">

      <td-cards class="challenge-cards" on-drag-left="disableVerticalScrolling()", on-drag-right="disableVerticalScrolling()">
        <td-card ng-repeat="challenge in challenges"  class="list card"  on-swipe-left="infiniteCards($index)" on-swipe-right="infiniteCards($index)" >
          <div class="item item-avatar">
            <img src="http://ionicframework.com/img/docs/mcfly.jpg">
            <h2>{{challenge.user.name}}</h2>
            <p>November 05, 1955</p>
          </div>

          <div class="item item-body">
            <img class="full-image" src="http://ionicframework.com/img/docs/delorean.jpg">
            <p>
              Back to the future with crazy hats
            </p>

            <button class="button button-full button-positive" ng-click="login()">
             Challenge Accepted !
            </button>
          </div>
        </td-card>
      </td-cards>


    <div class="item item-body padding connect-buttons padding">
      <div>
        <button class="button button-full button-positive button-large" ui-sref="login">
         Login
        </button>
      </div>

      <button class="button button-full button-positive button-large" ui-sref="register">
       Register
      </button>
    </div>

  </ion-content>
</ion-view>
