<ion-view hide-nav-bar="true" class="no-header">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Login</div>
      <div class="item item-body">
        <div>

          <form>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <button class="button button-full button-positive" ng-click="login()">
             Login
            </button>
        </form>
        </div>
      </div>
    </div>
    <button class="button button-full button-positive" ng-click="login()">
     Login with facebook
    </button>

    <button class="button button-full button-positive" ui-sref="register">
     Register
    </button>

  </ion-content>
</ion-view>
