<ion-view>
	<ion-content>
		<div class="list card" ng-repeat="charity in charitys">

		  <div class="item-avatar">
		    <img src="../img/puce_patte.svg">
		    <h2>{{::charity.title}}</h2>
		  </div>
		  <div class="item-image" >
		    <img ng-src="{{::charity.icon}}">
		  </div>
				<span>{{::charity.description}}</span>
				<p>
					<br>
					<a href="#">{{::charity.website}}</a>
				</p>

			<div class="row">
				<button class="button button-balanced col">
				  Donate
				</button>
			</div>
			<div class="row" style="margin-top:5px">
				<button class="button button-assertive col" ng-if="$last" ui-sref="tab.globalChallenges">
				  Not now ...
				</button>
			</div>
		</div>

  </ion-list>
  </ion-content>
</ion-view>
