<ion-view >
  <ion-content class="ranking">
    <div class="list">
        <a class="item item-avatar" ng-repeat="user in top">
          <img ng-src="{{ user.picture.thumbnail }}">
          <h2>{{user.name.first | capitalize}}</h2>
          <p>{{ top.length - $index }} Défis relevés</p>
        </a>
    </div>
  </ion-content>
</ion-view>
