<ion-nav-bar class="bar-transparent">
  <ion-nav-buttons><a ui-sref="login" class="ion-chevron-left icon-left button button-clear button-white"></a></ion-nav-buttons>
</ion-nav-bar>

<ion-view>
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Register</div>
      <div class="item item-body">
        <div>
          <form>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password confirm</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <button class="button button-full button-positive" ng-click="login()">
             Submit
            </button>
        </form>
        </div>
      </div>
    </div>

    <button class="button button-full button-positive" ng-click="login()">
     Register with facebook
    </button>

    <button class="button button-full button-assertive" ui-sref="register">
     Register with Google
    </button>

  </ion-content>
</ion-view>
