<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Challenges" icon-off="all-challenges" icon-on="all-challenges" href="tab.globalChallenges">
    <ion-nav-view name="globalChallenges" class="challenge-cards"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="My challenges" icon-off="my-challenges" icon-on="my-challenges" ui-sref="tab.myChallenges">
    <ion-nav-view name="myChallenges" class="challenge-cards"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="Rankings" icon-off="ranking" icon-on="ranking" ui-sref="tab.rankings">
    <ion-nav-view name="rankings" class=""></ion-nav-view>
  </ion-tab>


</ion-tabs>
