/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
/* Empty. Add your own CSS if you like */


.no-header{
  top: 0;
}

.challenge-cards{
  display: block;
}

.challenge-cards td-card, .behind-card{
  position: absolute;
  left: 50%;
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: -150px;
  width: 300px;
  top:0;

  border-radius: 4px;
}

.challenge-cards td-card .button{
  border-radius: 4px;
}

.behind-card{
  z-index:0;
  padding:100px 20px;
  background-color: #eee;
}

.challenge-cards td-card{
  z-index: 100;
}

.last-challenges td-card{
  margin-top: 20px;
}


.connect-buttons{
  bottom:0;
  position:absolute;
  width:100%;
}

.my-challenges .tab-my-challenges .tabs{
  margin-top: -65px;
  top:0;
  height:60px;
  line-height: 80px;

}

.my-challenges .tab-my-challenges .tabs a{
    color:#fff;
}

.my-challenges .tab-my-challenges .tabs a.active{
    color:#fff;
    border-color: #fff;
}


ion-tabs .tabs {
  border :0;
  background-color:#edce05 !important;
}

.challenge-cards ion-content{
  background:#edce05 url(../img/background-card.png);
  background-size: cover;

}

.challenge-cards .item {

}

.challenge-cards td-card, .behind-card
{
  left: 57%;
  width: 250px;
  border-radius: 5px;
  top: 145px;
  margin-top: 0;
}

.challenge-cards ion-content{
  background:#edce05 url(img/background-card.png);
}

.tabs-striped.tabs {
  background:#edce05;
}
