/* Empty. Add your own CSS if you like */

.no-header{
  top: 0;
}

.challenge-cards{
  display: block;
}

.challenge-cards td-card, .behind-card{
  position: absolute;
  left: 50%;
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: -150px;
  width: 300px;
  top:0;

  border-radius: 4px;
}

.challenge-cards td-card .button{
  border-radius: 4px;
}

.behind-card{
  z-index:0;
  padding:100px 20px;
  background-color: #eee;
}

.challenge-cards td-card{
  z-index: 100;
}

.last-challenges td-card{
  margin-top: 20px;
}


.connect-buttons{
  bottom:0;
  position:absolute;
  width:100%;
}

.my-challenges .tab-my-challenges .tabs{
  margin-top: -65px;
  top:0;
  height:60px;
  line-height: 80px;

}

.my-challenges .tab-my-challenges .tabs a{
    color:#fff;
}

.my-challenges .tab-my-challenges .tabs a.active{
    color:#fff;
    border-color: #fff;
}

ion-tabs .tabs {
  border :0;
  background-color:#edce05 !important;
}

.challenge-cards ion-content{
  background:#edce05 url(../img/background-card.png);
  background-size: cover;

}

.challenge-cards .item {

}

.challenge-cards td-card, .behind-card
{
  left: 57%;
  width: 250px;
  border-radius: 5px;
  top: 130px;
  margin-top: 0;
}
.challenge-cards .item-body .challenge-image{
  width:93px;
  height:93px;
  float:left;

}
.challenge-cards .item-body  h3{
  margin-top:0px;
  color:#3caa0f;
}


.challenge-cards .item-body .plus{
  color :#5dd326;
  font-size:45px;
  margin-top:40px;
}

.icon-slip{
  margin-top:17px;
}

.cardtop{
  position:absolute;
  z-index:-1;
  background: transparent url(../img/bg-header.png);
  background-size: contain;
  height:109px;
  width:100%;
  top:20px;x
}


.panda{
  position:absolute;
  z-index:9000;
  top:10px;
  margin-left: -15px;
}

.sponsor{
  margin-left: 135px;
  margin-top: 43px;
}

.sponsor-img{
  margin-right: 45px;
  float: right;
  height: 20px;
  margin-top: -19px;
}


.button-balanced{
  background-color : #5dd326 !important;
  border-color: #4da127 !important;
}

.button-assertive{
  background-color : #fd4444 !important;
  border-color: #cb3939 !important;
}

.tabs .tab-item .icon.all-challenges {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url('../img/IconMenu1.svg');
  background-size:contain;
}
.tabs .tab-item .icon.my-challenges {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url('../img/IconMenu3.svg');
  background-size:contain;
}
.tabs .tab-item .icon.ranking {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url('../img/IconMenu2.svg');
  background-size:contain;
}

.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}
